<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whcdit.imengya.mapper.ProjectDefectContentMapper">
  <resultMap id="BaseResultMap" type="com.whcdit.imengya.model.ProjectDefectContent">
    <id column="defect_content_id" jdbcType="INTEGER" property="defectContentId" />
    <result column="project_defect_id" jdbcType="INTEGER" property="projectDefectId" />
    <result column="defect_content_type" jdbcType="VARCHAR" property="defectContentType" />
    <result column="defect_content_detail" jdbcType="VARCHAR" property="defectContentDetail" />
    <result column="defect_flow_id" jdbcType="INTEGER" property="defectFlowId" />
    <result column="first_create_by" jdbcType="INTEGER" property="firstCreateBy" />
    <result column="first_create_date" jdbcType="TIMESTAMP" property="firstCreateDate" />
    <result column="data_status_flag" jdbcType="VARCHAR" property="dataStatusFlag" />
    <result column="data_region_id" jdbcType="INTEGER" property="dataRegionId" />
    <result column="data_change_type" jdbcType="VARCHAR" property="dataChangeType" />
    <result column="data_change_desc" jdbcType="VARCHAR" property="dataChangeDesc" />
    <result column="last_update_by" jdbcType="INTEGER" property="lastUpdateBy" />
    <result column="last_update_date" jdbcType="TIMESTAMP" property="lastUpdateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    defect_content_id, project_defect_id, defect_content_type, defect_content_detail, 
    defect_flow_id, first_create_by, first_create_date, data_status_flag, data_region_id, 
    data_change_type, data_change_desc, last_update_by, last_update_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from project_defect_content
    where defect_content_id = #{defectContentId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from project_defect_content
    where defect_content_id = #{defectContentId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="defect_content_id" keyProperty="defectContentId" parameterType="com.whcdit.imengya.model.ProjectDefectContent" useGeneratedKeys="true">
    insert into project_defect_content (project_defect_id, defect_content_type, 
      defect_content_detail, defect_flow_id, first_create_by, 
      first_create_date, data_status_flag, data_region_id, 
      data_change_type, data_change_desc, last_update_by, 
      last_update_date)
    values (#{projectDefectId,jdbcType=INTEGER}, #{defectContentType,jdbcType=VARCHAR}, 
      #{defectContentDetail,jdbcType=VARCHAR}, #{defectFlowId,jdbcType=INTEGER}, #{firstCreateBy,jdbcType=INTEGER}, 
      #{firstCreateDate,jdbcType=TIMESTAMP}, #{dataStatusFlag,jdbcType=VARCHAR}, #{dataRegionId,jdbcType=INTEGER}, 
      #{dataChangeType,jdbcType=VARCHAR}, #{dataChangeDesc,jdbcType=VARCHAR}, #{lastUpdateBy,jdbcType=INTEGER}, 
      #{lastUpdateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" keyColumn="defect_content_id" keyProperty="defectContentId" parameterType="com.whcdit.imengya.model.ProjectDefectContent" useGeneratedKeys="true">
    insert into project_defect_content
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="projectDefectId != null">
        project_defect_id,
      </if>
      <if test="defectContentType != null">
        defect_content_type,
      </if>
      <if test="defectContentDetail != null">
        defect_content_detail,
      </if>
      <if test="defectFlowId != null">
        defect_flow_id,
      </if>
      <if test="firstCreateBy != null">
        first_create_by,
      </if>
      <if test="firstCreateDate != null">
        first_create_date,
      </if>
      <if test="dataStatusFlag != null">
        data_status_flag,
      </if>
      <if test="dataRegionId != null">
        data_region_id,
      </if>
      <if test="dataChangeType != null">
        data_change_type,
      </if>
      <if test="dataChangeDesc != null">
        data_change_desc,
      </if>
      <if test="lastUpdateBy != null">
        last_update_by,
      </if>
      <if test="lastUpdateDate != null">
        last_update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="projectDefectId != null">
        #{projectDefectId,jdbcType=INTEGER},
      </if>
      <if test="defectContentType != null">
        #{defectContentType,jdbcType=VARCHAR},
      </if>
      <if test="defectContentDetail != null">
        #{defectContentDetail,jdbcType=VARCHAR},
      </if>
      <if test="defectFlowId != null">
        #{defectFlowId,jdbcType=INTEGER},
      </if>
      <if test="firstCreateBy != null">
        #{firstCreateBy,jdbcType=INTEGER},
      </if>
      <if test="firstCreateDate != null">
        #{firstCreateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dataStatusFlag != null">
        #{dataStatusFlag,jdbcType=VARCHAR},
      </if>
      <if test="dataRegionId != null">
        #{dataRegionId,jdbcType=INTEGER},
      </if>
      <if test="dataChangeType != null">
        #{dataChangeType,jdbcType=VARCHAR},
      </if>
      <if test="dataChangeDesc != null">
        #{dataChangeDesc,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateBy != null">
        #{lastUpdateBy,jdbcType=INTEGER},
      </if>
      <if test="lastUpdateDate != null">
        #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.whcdit.imengya.model.ProjectDefectContent">
    update project_defect_content
    <set>
      <if test="projectDefectId != null">
        project_defect_id = #{projectDefectId,jdbcType=INTEGER},
      </if>
      <if test="defectContentType != null">
        defect_content_type = #{defectContentType,jdbcType=VARCHAR},
      </if>
      <if test="defectContentDetail != null">
        defect_content_detail = #{defectContentDetail,jdbcType=VARCHAR},
      </if>
      <if test="defectFlowId != null">
        defect_flow_id = #{defectFlowId,jdbcType=INTEGER},
      </if>
      <if test="firstCreateBy != null">
        first_create_by = #{firstCreateBy,jdbcType=INTEGER},
      </if>
      <if test="firstCreateDate != null">
        first_create_date = #{firstCreateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dataStatusFlag != null">
        data_status_flag = #{dataStatusFlag,jdbcType=VARCHAR},
      </if>
      <if test="dataRegionId != null">
        data_region_id = #{dataRegionId,jdbcType=INTEGER},
      </if>
      <if test="dataChangeType != null">
        data_change_type = #{dataChangeType,jdbcType=VARCHAR},
      </if>
      <if test="dataChangeDesc != null">
        data_change_desc = #{dataChangeDesc,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateBy != null">
        last_update_by = #{lastUpdateBy,jdbcType=INTEGER},
      </if>
      <if test="lastUpdateDate != null">
        last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where defect_content_id = #{defectContentId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.whcdit.imengya.model.ProjectDefectContent">
    update project_defect_content
    set project_defect_id = #{projectDefectId,jdbcType=INTEGER},
      defect_content_type = #{defectContentType,jdbcType=VARCHAR},
      defect_content_detail = #{defectContentDetail,jdbcType=VARCHAR},
      defect_flow_id = #{defectFlowId,jdbcType=INTEGER},
      first_create_by = #{firstCreateBy,jdbcType=INTEGER},
      first_create_date = #{firstCreateDate,jdbcType=TIMESTAMP},
      data_status_flag = #{dataStatusFlag,jdbcType=VARCHAR},
      data_region_id = #{dataRegionId,jdbcType=INTEGER},
      data_change_type = #{dataChangeType,jdbcType=VARCHAR},
      data_change_desc = #{dataChangeDesc,jdbcType=VARCHAR},
      last_update_by = #{lastUpdateBy,jdbcType=INTEGER},
      last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP}
    where defect_content_id = #{defectContentId,jdbcType=INTEGER}
  </update>
</mapper>