<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.whcdit.imengya.mapper.SystemMenuInfoMapper">
  <resultMap id="BaseResultMap" type="com.whcdit.imengya.model.SystemMenuInfo">
    <id column="system_menu_id" jdbcType="INTEGER" property="systemMenuId" />
    <result column="system_menu_name" jdbcType="VARCHAR" property="systemMenuName" />
    <result column="system_menu_type" jdbcType="VARCHAR" property="systemMenuType" />
    <result column="system_menu_icon" jdbcType="VARCHAR" property="systemMenuIcon" />
    <result column="system_menu_url" jdbcType="VARCHAR" property="systemMenuUrl" />
    <result column="system_parent_id" jdbcType="INTEGER" property="systemParentId" />
    <result column="system_menu_close" jdbcType="VARCHAR" property="systemMenuClose" />
    <result column="system_menu_desc" jdbcType="VARCHAR" property="systemMenuDesc" />
    <result column="first_create_by" jdbcType="INTEGER" property="firstCreateBy" />
    <result column="first_create_date" jdbcType="TIMESTAMP" property="firstCreateDate" />
    <result column="data_status_flag" jdbcType="VARCHAR" property="dataStatusFlag" />
    <result column="data_region_id" jdbcType="INTEGER" property="dataRegionId" />
    <result column="data_change_type" jdbcType="VARCHAR" property="dataChangeType" />
    <result column="data_change_desc" jdbcType="VARCHAR" property="dataChangeDesc" />
    <result column="last_update_by" jdbcType="INTEGER" property="lastUpdateBy" />
    <result column="last_update_date" jdbcType="TIMESTAMP" property="lastUpdateDate" />
  </resultMap>
  <sql id="Base_Column_List">
    system_menu_id, system_menu_name, system_menu_type, system_menu_icon, system_menu_url, 
    system_parent_id, system_menu_close, system_menu_desc, first_create_by, first_create_date, 
    data_status_flag, data_region_id, data_change_type, data_change_desc, last_update_by, 
    last_update_date
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from system_menu_info
    where system_menu_id = #{systemMenuId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from system_menu_info
    where system_menu_id = #{systemMenuId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="system_menu_id" keyProperty="systemMenuId" parameterType="com.whcdit.imengya.model.SystemMenuInfo" useGeneratedKeys="true">
    insert into system_menu_info (system_menu_name, system_menu_type, system_menu_icon, 
      system_menu_url, system_parent_id, system_menu_close, 
      system_menu_desc, first_create_by, first_create_date, 
      data_status_flag, data_region_id, data_change_type, 
      data_change_desc, last_update_by, last_update_date
      )
    values (#{systemMenuName,jdbcType=VARCHAR}, #{systemMenuType,jdbcType=VARCHAR}, #{systemMenuIcon,jdbcType=VARCHAR}, 
      #{systemMenuUrl,jdbcType=VARCHAR}, #{systemParentId,jdbcType=INTEGER}, #{systemMenuClose,jdbcType=VARCHAR}, 
      #{systemMenuDesc,jdbcType=VARCHAR}, #{firstCreateBy,jdbcType=INTEGER}, #{firstCreateDate,jdbcType=TIMESTAMP}, 
      #{dataStatusFlag,jdbcType=VARCHAR}, #{dataRegionId,jdbcType=INTEGER}, #{dataChangeType,jdbcType=VARCHAR}, 
      #{dataChangeDesc,jdbcType=VARCHAR}, #{lastUpdateBy,jdbcType=INTEGER}, #{lastUpdateDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" keyColumn="system_menu_id" keyProperty="systemMenuId" parameterType="com.whcdit.imengya.model.SystemMenuInfo" useGeneratedKeys="true">
    insert into system_menu_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="systemMenuName != null">
        system_menu_name,
      </if>
      <if test="systemMenuType != null">
        system_menu_type,
      </if>
      <if test="systemMenuIcon != null">
        system_menu_icon,
      </if>
      <if test="systemMenuUrl != null">
        system_menu_url,
      </if>
      <if test="systemParentId != null">
        system_parent_id,
      </if>
      <if test="systemMenuClose != null">
        system_menu_close,
      </if>
      <if test="systemMenuDesc != null">
        system_menu_desc,
      </if>
      <if test="firstCreateBy != null">
        first_create_by,
      </if>
      <if test="firstCreateDate != null">
        first_create_date,
      </if>
      <if test="dataStatusFlag != null">
        data_status_flag,
      </if>
      <if test="dataRegionId != null">
        data_region_id,
      </if>
      <if test="dataChangeType != null">
        data_change_type,
      </if>
      <if test="dataChangeDesc != null">
        data_change_desc,
      </if>
      <if test="lastUpdateBy != null">
        last_update_by,
      </if>
      <if test="lastUpdateDate != null">
        last_update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="systemMenuName != null">
        #{systemMenuName,jdbcType=VARCHAR},
      </if>
      <if test="systemMenuType != null">
        #{systemMenuType,jdbcType=VARCHAR},
      </if>
      <if test="systemMenuIcon != null">
        #{systemMenuIcon,jdbcType=VARCHAR},
      </if>
      <if test="systemMenuUrl != null">
        #{systemMenuUrl,jdbcType=VARCHAR},
      </if>
      <if test="systemParentId != null">
        #{systemParentId,jdbcType=INTEGER},
      </if>
      <if test="systemMenuClose != null">
        #{systemMenuClose,jdbcType=VARCHAR},
      </if>
      <if test="systemMenuDesc != null">
        #{systemMenuDesc,jdbcType=VARCHAR},
      </if>
      <if test="firstCreateBy != null">
        #{firstCreateBy,jdbcType=INTEGER},
      </if>
      <if test="firstCreateDate != null">
        #{firstCreateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dataStatusFlag != null">
        #{dataStatusFlag,jdbcType=VARCHAR},
      </if>
      <if test="dataRegionId != null">
        #{dataRegionId,jdbcType=INTEGER},
      </if>
      <if test="dataChangeType != null">
        #{dataChangeType,jdbcType=VARCHAR},
      </if>
      <if test="dataChangeDesc != null">
        #{dataChangeDesc,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateBy != null">
        #{lastUpdateBy,jdbcType=INTEGER},
      </if>
      <if test="lastUpdateDate != null">
        #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.whcdit.imengya.model.SystemMenuInfo">
    update system_menu_info
    <set>
      <if test="systemMenuName != null">
        system_menu_name = #{systemMenuName,jdbcType=VARCHAR},
      </if>
      <if test="systemMenuType != null">
        system_menu_type = #{systemMenuType,jdbcType=VARCHAR},
      </if>
      <if test="systemMenuIcon != null">
        system_menu_icon = #{systemMenuIcon,jdbcType=VARCHAR},
      </if>
      <if test="systemMenuUrl != null">
        system_menu_url = #{systemMenuUrl,jdbcType=VARCHAR},
      </if>
      <if test="systemParentId != null">
        system_parent_id = #{systemParentId,jdbcType=INTEGER},
      </if>
      <if test="systemMenuClose != null">
        system_menu_close = #{systemMenuClose,jdbcType=VARCHAR},
      </if>
      <if test="systemMenuDesc != null">
        system_menu_desc = #{systemMenuDesc,jdbcType=VARCHAR},
      </if>
      <if test="firstCreateBy != null">
        first_create_by = #{firstCreateBy,jdbcType=INTEGER},
      </if>
      <if test="firstCreateDate != null">
        first_create_date = #{firstCreateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="dataStatusFlag != null">
        data_status_flag = #{dataStatusFlag,jdbcType=VARCHAR},
      </if>
      <if test="dataRegionId != null">
        data_region_id = #{dataRegionId,jdbcType=INTEGER},
      </if>
      <if test="dataChangeType != null">
        data_change_type = #{dataChangeType,jdbcType=VARCHAR},
      </if>
      <if test="dataChangeDesc != null">
        data_change_desc = #{dataChangeDesc,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateBy != null">
        last_update_by = #{lastUpdateBy,jdbcType=INTEGER},
      </if>
      <if test="lastUpdateDate != null">
        last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where system_menu_id = #{systemMenuId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.whcdit.imengya.model.SystemMenuInfo">
    update system_menu_info
    set system_menu_name = #{systemMenuName,jdbcType=VARCHAR},
      system_menu_type = #{systemMenuType,jdbcType=VARCHAR},
      system_menu_icon = #{systemMenuIcon,jdbcType=VARCHAR},
      system_menu_url = #{systemMenuUrl,jdbcType=VARCHAR},
      system_parent_id = #{systemParentId,jdbcType=INTEGER},
      system_menu_close = #{systemMenuClose,jdbcType=VARCHAR},
      system_menu_desc = #{systemMenuDesc,jdbcType=VARCHAR},
      first_create_by = #{firstCreateBy,jdbcType=INTEGER},
      first_create_date = #{firstCreateDate,jdbcType=TIMESTAMP},
      data_status_flag = #{dataStatusFlag,jdbcType=VARCHAR},
      data_region_id = #{dataRegionId,jdbcType=INTEGER},
      data_change_type = #{dataChangeType,jdbcType=VARCHAR},
      data_change_desc = #{dataChangeDesc,jdbcType=VARCHAR},
      last_update_by = #{lastUpdateBy,jdbcType=INTEGER},
      last_update_date = #{lastUpdateDate,jdbcType=TIMESTAMP}
    where system_menu_id = #{systemMenuId,jdbcType=INTEGER}
  </update>
  
  <select id="selectWithCondition" parameterType="com.whcdit.imengya.model.SystemMenuInfo" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from system_menu_info
    <where>
    	<if test="dataStatusFlag != null"> data_status_flag = #{dataStatusFlag,jdbcType=VARCHAR}</if>
	    <if test="systemRoleId != null">AND system_menu_id IN (SELECT x.system_menu_id FROM system_role_relation x where x.system_role_id = #{systemRoleId,jdbcType=INTEGER})</if>
    </where>
ORDER BY system_menu_id ASC
  </select>
  
  <select id="selectWithRole" parameterType="com.whcdit.imengya.model.SystemRoleInfo" resultType="com.whcdit.imengya.model.SystemMenuInfo">
SELECT
	b.role_relation_id AS roleRelationId,
	b.system_role_id AS systemRoleId,
	a.system_menu_id AS systemMenuId,
	a.system_menu_name AS systemMenuName,
	a.system_menu_type AS systemMenuType,
	a.system_menu_icon AS systemMenuIcon,
	a.system_menu_url AS systemMenuUrl,
	a.system_parent_id AS systemParentId,
	a.system_menu_close AS systemMenuClose,
	a.system_menu_desc AS systemMenuDesc,
	a.first_create_by AS firstCreateBy,
	a.first_create_date AS firstCreateDate,
	a.data_status_flag AS dataStatusFlag,
	a.data_region_id AS dataRegionId,
	a.data_change_type AS dataChangeType,
	a.data_change_desc AS dataChangeDesc,
	a.last_update_by AS lastUpdateBy,
	a.last_update_date AS lastUpdateDate 
FROM
	system_menu_info a
	JOIN system_role_relation b ON a.system_menu_id = b.system_menu_id
WHERE b.system_role_id = #{systemRoleId,jdbcType=INTEGER}
  </select>
  
</mapper>